footer {
    
    
    background: $azul;
    
    width: 100%;
    padding: 25px;
    position: fixed;
    left: 0;
    bottom: 0;
}
.piePagina{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.repositorio {
    display: flex;
}
.equipo > p, span {
    color: $blanco;
    text-align: center;
}

.equipo {
    display: flex;
    flex-direction: column;
}

.materia > p{
    display: block;
    color: $blanco;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.footerHijo {
    color: $blanco;
}
.LogoGit {
    width: 30px;
    padding-right: 10px;
}

.iconoLink {
    width: 28px;
    padding-left: 10px;
}
