/* Gradiante */
$gradianteAzul: linear-gradient(135deg, rgba(2, 0, 36, 1) 0%, rgba(49, 81, 147, 1) 50%, rgba(0, 212, 255, 1) 100%);

/* Neumorfismo */
$sombras: 28px 28px 56px #162f57,
-28px -28px 56px #20437d;

/* Colores */
$blanco: #ffffff;
$azul: #1B396A;